
<div class="container border .w-70 shadow-lg p-3 mb-5 mt-5 bg-white rounded">
  <h1> About Bus Reservation System</h1> 
    <ul>
    <li>Bus owners and travellers can register in the system</li>
    <li>Owners can schedule/update route details like date, time and details
    of fare.</li>
    <li>Passengers can search for the best option in fare, shortest time etc. and can
    book/cancel seats. Cancellation gives the chance to the next one in the list</li>
    <li>Give SMS alerts on booking, boarding time and point</li>
    </ul>
    <%=link_to "Back",root_path,class: "btn btn-primary" %> 
    </div>
<%= stylesheet_link_tag 'stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='ripple-background'>
  <div class='circle xxlarge shade1'></div>
  <div class='circle xlarge shade2'></div>
  <div class='circle large shade3'></div>
  <div class='circle mediun shade4'></div>
  <div class='circle small shade5'></div>
</div>
   