

<h1>
Welcome to Bus Reservation System please enter into our system by selecting the top options</h1>

<%= image_tag "bus.jpeg", height: 1000%>

<%= stylesheet_link_tag 'stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='ripple-background'>
  <div class='circle xxlarge shade1'></div>
  <div class='circle xlarge shade2'></div>
  <div class='circle large shade3'></div>
  <div class='circle mediun shade4'></div>
  <div class='circle small shade5'></div>
</div>