
  <p>
    <strong>Bus_Number:</strong>
    <%= businfo.Bus_Number %>
  </p>

  <p>
    <strong>Bus_Name :</strong>
    <%= businfo.Bus_Name%>
  </p>
  <%= link_to "Edit Bus", edit_busowner_businfo_path(@busowner,businfo), class: "btn btn-primary" %>
 